@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

.top-part {
  background-color: rgb(1, 0, 102);
  padding-bottom: 50px;
}

#detailed-info {
  display: flex;
  flex-direction: column;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bold-title {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  font-family: "SUSE";
}

#qtn {
  color: rgb(254, 204, 80);
}

#detailed-info {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.7vw;
  width: 50%;
  text-align: center;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(170, 202, 253, 0.84);
  height: 12vw;
  width: 60vw;
  padding: 0.7vw 1.5vw;
  border-radius: 10px;
  margin-top: 2vw;
}

.each {
  display: flex;
  flex-direction: column;
  width: 8vw;
  padding: 0.5vw 5.5vw;
  background-color: white;
  align-items: center;
  border-radius: 10px;
}

.img-div {
  display: flex;
  width: 6vw;
}

.e-text {
  color: rgb(56, 114, 207);
  text-wrap: nowrap;
  font-size: 1vw;
}

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.stat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10vw;
}

.e-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num {
  color: white;
  font-size: 4vw;
  font-weight: bolder;
}

.u-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(170, 202, 253);
  font-size: 1.1vw;
}

.abt-laf {
  margin-top: 3vw;
}

.about-how-tit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.about-how-tit {
  font-size: 2.2vw;
  text-wrap: nowrap;
  color: rgb(0, 87, 225);
  font-weight: bold;
  margin-left: 1vw;
  margin-right: 1vw;
}

.line {
  display: flex;
  background-color: rgb(0, 87, 225);
  height: 0.2vw;
  width: 40vw;
}

#line-r {
  background-color: transparent;
  display: flex;
  height: 4px;
  width: 40vw;
}

#ab-dit {
  display: flex;
  justify-content: center;
}

#ab {
  color: rgb(0, 87, 225);
  display: flex;
  font-size: 1.3vw;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.web-info-topdiv {
  display: flex;
  justify-content: center;
}

.web-info-div {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: rgba(205, 209, 211, 0.795);
  border-radius: 10px;
  margin-top: 3vw;
  width: 70%;
}

#bold-div {
  display: flex;
  justify-content: left;
}

#bold {
  display: flex;
  justify-content: left;
  font-size: 1.7vw;
  font-weight: bold;
}

.info-pic-div {
  display: flex;
  align-items: center;
}

#bold-info {
  font-size: 1.2vw;
  width: 80%;
}

.people-pics-div {
  display: flex;
  width: 40vw;
}

#people-pics {
  width: 100%;
}

.story-topdiv {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.each-story-topdiv {
  display: flex;
  align-items: center;
}

.each-story-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.3vw 2vw;
  background-color: rgba(170, 202, 253, 0.84);
  border-radius: 10px;
  max-width: 27vw;
  position: relative;
  height: 40vh;
}

#middle-story {
  margin: 2vw;
}

.story-title {
  font-weight: bold;
  font-size: 1.6vw;
  text-wrap: nowrap;
}

.story {
  font-size: 1.1vw;
}

.arrow-div {
  display: flex;
  width: 4vw;
  justify-content: baseline;
  position: absolute;
  top: 15.49vw;
}

#story-arrrow {
  width: 100%;
}

.ahtd {
  margin: 3vw;
}

.how-topdiv {
  display: flex;
  justify-content: center;
}

.each-top-div {
  display: flex;
  justify-content: center;
}

.each-how-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-how {
  margin: 0 9vw;
}

.how-tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;
  font-weight: bold;
  width: 100%;
}

.how-icon-topdiv {
  display: flex;
  position: relative;
  margin: 1vw 0;
}

.how-iconbg-div {
  display: flex;
  height: 9vw;
}

.how-iconbg {
  width: 100%;
}

.how-icon-div {
  display: flex;
  width: 1vw;
}

.how-icon {
  display: flex;
  width: 3vw;
  position: absolute;
  object-fit: contain;
  object-position: center;
  z-index: 5;
  top: 35%;
  right: 40%;
}

.how-details {
  display: flex;
  font-size: 1.1vw;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.register-topdiv {
  display: flex;
  justify-content: center;
}

.register-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 209, 211, 0.795);
  padding: 2vw 2vw;
  border-radius: 10px;
  margin-top: 3vw;
}

.qtnn-div {
  margin-right: 10vw;
}

.qtnn {
  font-size: 1vw;
}

#button {
  background-color: rgb(0, 87, 225);
  color: white;
  padding: 1vw 2vw;
  font-size: 1vw;
  text-wrap: nowrap;
  border-radius: 10px;
  transition: opacity 1ms;
}

#button:hover {
  opacity: 70%;
}

@media (max-width: 480px) {
  .top-part {
    background-color: rgb(1, 0, 102);
    padding-bottom: 50px;
  }

  #bold-title {
    font-size: 2.5rem;
  }

  #detailed-info {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #details-div {
    display: block;
  }
  #details {
    font-size: 0.9rem;
    padding: 4px 6px;
    width: 100%;
  }

  .outer {
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0;
    height: auto;
    padding: 8px;
  }

  .each {
    width: 48%;
    padding: 0.4rem;
    border-radius: 10px;
    margin-bottom: 4px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .img-div {
    display: flex;
    width: auto;
  }

  .e-text {
    text-wrap: nowrap;
    font-size: 0.7rem;
  }

  .stat {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10vw;
  }

  .e-stat {
    text-align: center;
  }

  .num {
    font-size: 1.8rem;
  }

  .u-num {
    font-size: 0.6rem;
  }

  .abt-laf {
    padding: 4px;
  }

  .about-how-tit {
    font-size: 1rem;
  }

  #ab-dit {
    display: flex;
    justify-content: center;
  }

  #ab {
    font-size: 0.6rem;
    width: 80%;
  }

  #bold {
    font-size: 0.8rem;
  }

  .info-pic-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #bold-info {
    font-size: 0.6rem;
    width: 100%;
  }

  .people-pics-div {
    display: flex;
    width: auto;
  }

  #people-pics {
    width: 100%;
  }

  .each-story-topdiv {
    flex-direction: column;
  }

  .each-story-div {
    height: 120px;
    width: 80%;
    max-width: 100%;
    margin-bottom: 21px;
  }

  #middle-story {
    margin-bottom: 31px;
  }

  .story-title {
    font-size: 1rem;
  }

  .story {
    font-size: 0.6rem;
  }

  .arrow-div {
    display: flex;
    width: 15%;
    position: absolute;
    bottom: -65px;
  }

  #story-arrrow {
    width: 100%;
  }
  .web-info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .each-how-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #middle-how {
    margin: 0 9vw;
  }

  .how-tit {
    font-size: 0.6rem;
  }

  .how-iconbg-div {
    display: flex;
    height: 60px;
  }

  .how-iconbg {
    width: 100%;
  }

  .how-icon-div {
    width: auto;
  }

  .how-icon {
    width: 50%;
    top: 32%;
    right: 28%;
  }

  .how-details {
    font-size: 0.55rem;
    width: 100%;
  }

  .register-topdiv {
    display: flex;
    justify-content: center;
  }

  .register-div {
    width: 95%;
  }

  .qtnn-div {
    margin-right: 10vw;
  }

  .qtnn {
    font-size: 0.6rem;
  }

  #button {
    background-color: rgb(0, 87, 225);
    color: white;
    padding: 8px;
    font-size: 0.6rem;
    text-wrap: nowrap;
    border-radius: 10px;
    transition: opacity 1ms;
  }

  #button:active {
    opacity: 70%;
  }
  #button:hover {
    opacity: 100%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .each-story-div {
    height: 12vh;
  }
  .arrow-div {
    top: 14.49vw;
  }
}
