@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUSE";
  src: url("./assets/fonts/SUSE/SUSE-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Noto_Sans";
  src: url("./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
  height: auto;
  font-family: "Noto_Sans", sans-serif;
}
body {
  background-color: #dfe3e6;
}
#root {
  height: 100vh;
}
h1 {
  font-family: "SUSE";
}

nav svg.ionicon:hover {
  fill: #fecc50;
}
.active-nav {
  display: flex;
  align-items: center;
}
.active-nav::before {
  content: "(";
  margin-right: 2px;
}
.active-nav::after {
  content: ")";
  margin-left: 2px;
}

.card_container .card:first-of-type {
  margin-left: 8px;
  margin-top: 8px;
}
